<!doctype html>
<html lang="en">
  <head>
    <title>Rage Against The Machine</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel='stylesheet' href='/css/style.css' />

</head>
  <body id="body">
        <header id="header">
                <div class="container">
                <a class="nav-logo" href="/"><img src="https://www.ratm.com/wp-content/themes/ratm/assets/img/logo.png" alt=""></a>
                <div class="nav-collapse">
                    <nav class="navbar navbar-expand">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                    </button>
                
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ">
                        <li class="nav-item active">
                        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="https://tour.ratm.com/">Tour</a>
                        </li>
                        <li class="nav-item">
                            <a id="logo" href="#"> <img width="60px" src="images/misc/fistraised.jpeg" alt=""></a>
                        </li>
                        
                    </ul>
                    </div>  
                </nav>
            </div>
            </div>  <!--container-->
        </header>
        
        <img src="images/misc/bandpose.jpg" id="bg" alt="">
        <br><br>
            <div class="music">MUSIC</div>
            <br>
        <footer>
            <div class="cover-art">
                <% for( let index = 0; index < coverImage.length; index++ ) { %>
                    <a href="/albums/<%= index %> "><img width="24.5%" src="/images/covers/<%= coverImage[index] %>" alt=""></a>
                <% } %>
                </div>
        </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>