#bg {
    position: relative; 
    top: 15%; 
    left: 0; 
    width: 80px;
    /* Preserve aspect ratio */
    min-width: 100%;
    min-height: 100%;
    background-color: black;
}
.info{
    padding: 20px;
    background-color: black;
}
#album-name{
    color: whitesmoke;
    font-family: 'Times New Roman', Times, serif;
}

#songs{
    color: whitesmoke;
    font-family: 'Times New Roman', Times, serif;
}

#summary{
    color: whitesmoke;
    font-family: 'Times New Roman', Times, serif;
}
#release{
    color: whitesmoke;
    font-family: 'Times New Roman', Times, serif;
}
#body{
    background-color: black;
}
#header {
    position: relative;    
    top: 0;
    width: 0%;
    background-color: black;
    padding: 5px;
}

.cover-art{
    padding-left: 3px;
}


#header .container{
    flex-direction: row;
    align-items: center;
    width: 100vw;
    display: flex;
    flex-wrap: nowrap;
    background-color: black;
}

.nav-logo{
    margin-left: 30px;
}

#songs{
    float: right;
    margin-right: 00px;
    display: inline;
}

#album-img{
    padding-left: 50px;
}

#logo{
    margin-left: 400px;
}

.music{
    font-size: large;
    color: red;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}